<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbSyncTest.Properties.Settings.ServerstregConnectionString"
            connectionString="Data Source=SRV-DIV-02\TOS;Initial Catalog=streg;Persist Security Info=True;User ID=barcode;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="dbSyncTest.Properties.Settings.ClientstregConnectionString"
            connectionString="Data Source=|DataDirectory|\streg.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>