<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BatchPrint.Properties.Settings.BatchPrintConnectionString"
            connectionString="Data Source=SRV-SQL-06;Initial Catalog=BatchPrint;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>